# Node modules
node_modules/

# Build directory
build/

# Environment variables
.env

# Python
*.pyc
__pycache__/

# Flask
instance/
.env

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# npm debug log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage/